<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Companies</title>
</head>
<body>

<a href="?lang=hy">Armenian</a> | <a href="?lang=ru">Russian</a> | <a href="?lang=en">English</a>
<br><br>
Companies:
<a href="/addCompany" th:text="#{companies.add.company}">Add Company</a>
<table border="1">
    <tr>
        <th>id</th>
        <th>name</th>
        <th>size</th>
        <th>address</th>
    </tr>
    <tr th:each="c:${companies}">
        <td th:text="${c.id}"></td>
        <td th:text="${c.name}"></td>
        <td th:text="${c.size}"></td>
        <td th:text="${c.address}"></td>
        <td><a  th:href="@{'/deleteCompany/'+${c.id}}">delete</a></td>
    </tr>

</table>


</body>
</html>